<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Node Simple Server</title>
  </head>
  <body>
    <div class="container">
      <div class="title"><%= text %></div>

      <form action="/" method="post" id="noteForm" class="note-form">
        <input
          type="text"
          name="title"
          placeholder="Leave note..."
          class="note-form__input"
          required
        />
        <button type="submit" class="note-form__button">Add</button>
      </form>

      <% if (notes.length) { %>
      <ul class="notes-list">
        <% notes.forEach((item) => { %>
        <li class="notes-list__item">
          <span class="notes-list__title"><%= item.title %></span>
          <button
            class="notes-list__button notes-list__button--remove"
            data-type="remove"
            data-id="<%= item.id %>"
          >
            &times;
          </button>
          <button
            class="notes-list__button notes-list__button--remove"
            data-type="update"
            data-id="<%= item.id %>"
            data-title="<%= item.title%>"
          >
            Edit
          </button>
        </li>
        <% }) %>
      </ul>
      <% } else { %>
      <div class="notes-list__empty">No notes!</div>
      <% } %>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
